gradio
requests
pandas
langchain
langgraph
langchain_anthropic
langchain-huggingface
langchain-community
duckduckgo-search
huggingface-hub
torch
transformers
torchaudio
librosa
youtube-transcript-api
beautifulsoup4
openpyxl
accelerate
langchain-groq
ddgs
langchain-text-splitters
sentence-transformers
faiss-cpu
pydantic
python-dotenv
langchain-google-genai
smolagents
smolagents[openai]
Pillow
google-api-python-client
yt-dlp
langchain-core
sentencepiece
python-chess
assemblyai
stockfish
google-genai
google-generativeai
